html, body, div, span, applet, object, iframe, input,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; 
}
body {
    line-height: 1;
    color: black;
    background: #E0E0E0;
    font-family: verdana, sans-serif;
}
#header {
	height: 154px;
	background: #EFD990;
}
#head {
    position: relative;
    padding-top: 10px;
    height: 144px;
	width: 800px;
    margin: 0px auto;
	background: #FFD240;
}
#headshade {
    margin: 0px 0px 10px 10px;
    height: 25px;
    background: #DDB937;
    border-left: 150px solid #A67F00;
}
#title {
    margin: 55px 0px 0px 30px;
}
#head h1 {
    font-size: 42px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#head img {
    position: absolute;
    right: 20px;
    top: 2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#head a {
    color: #77621E;
    text-decoration: none;
}
#head a:hover {
    color: #A67F00;
}
#page {
	width: 800px;
    margin: 0px auto;
}
#navig {
    border: 2px solid #E0E0E0;
    background: #A67F00;
    position: relative;
}
#navig ul {
    height: 27px;
    list-style-type: none;
}
#navig ul li {
    min-height: 27px;
    border-right: 3px solid #E0E0E0;
    float: left;
}
#navig a {
    font-size: 10pt;
    padding: 5px 15px;
    background: #A67F00;
    color: #FFC300;
    vertical-align: -4px;
    text-decoration: none;
}
#navig a:hover {
    background: #FFC300;
    color: #A67F00;
}
#navig ul li.rightmenu {
    border-right: 0px;
    border-left: 3px solid #E0E0E0;
    float: right;
}
#searchform {
	padding: 3px 5px;
	background: #A67F00;
}
form#searchform.searchformover {
    background: #FFC300;
}
form#searchform.searchformover .searchfield {
    background: #FFC300;
	color: #A67F00;
}
form#searchform.searchformover .searchbutton {
    background: #A67F00;
	color: #FFC300;
}
#searchform input {
	font-size: 10pt;
}
#searchform .searchfield {
	background: #A67F00;
	padding: 2px;
	height: 17px;
	width: 120px;
	color: #FFC300;
	border: none !important;
}
#searchform .searchbutton {
    border: none;
	color: #A67F00;
	background: #FFC300;
}
#searchform .searchbutton:hover {
	color: #EFD990;
	background: #A67F00;
}
#searchform .searchbutton:active {
	position: relative;
	top: 1px;
}
.dropit {
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger {
    position: relative;
}
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: -3px; /* dropdown left or right */
    z-index: 1000;
    display: none;
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu {
    display: block;
}
.menu ul {
    display: none;  /* Hide before plugin loads */
}
.menu ul.dropit-submenu {
    height: auto !important;
    padding: 0px 0px 2px 0px;
    background: #E0E0E0;
    margin: 2px 0 0 0;
}          
.menu ul.dropit-submenu li {
    margin: 1px 3px 1px 3px !important;
    border: none !important;
    padding: 0px;
}
.menu ul.dropit-submenu a {
    display: block;
    line-height: 17px;
    min-width: 150px;
    background: #A67F00;
}
.menu ul.dropit-submenu a:hover {
    text-decoration: none;
}
#content {
    position: relative;
    padding: 20px 25px;
	min-height: 500px;
	width: 750px;
	background: #FFFFFF;
	overflow: auto;
}
#content h2{
    padding-bottom: 10px;
    color: #FFC300;
    font-size: 18pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#content p {
    text-indent: 2em;
    line-height: 120%;
    padding-bottom: 10px;
}
#content a.predchozi{
    margin: 10px;
    float: left;
    color: #A67F00;
}
#content a.dalsi{
    margin: 10px;
    float: right;
    color: #A67F00;
}
.category {
    margin: 6px;
    border: 2px solid #A67F00;
    display: inline-block;
    width: 230px;
    height: 170px;
    background: #E0E0E0;
}
.category h3 {
    margin: 0;
    padding: 5px;
    color: #A67F00;
    border-bottom: 2px solid #A67F00;
    font-size: 14pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #FFC300;
}
.category a {
    text-decoration: none;
}
.category img {
    display: block;
    margin: 10px auto;
    max-width: 210px;
    max-height: 119px;
}
.recipe {
    position: relative;
    margin: 5px;
    margin-bottom: 15px;
    border: 2px solid #A67F00;
    width: 736px;
    height: 100px;
    background: #E0E0E0;
}
.recipe a {
    display: block;
    text-decoration: none;
    height: 100%;
}
.recipe .obr {
    position: relative;
    width: 144px;
    height: 96px;
    padding: 2px;
    border-right: 2px solid #A67F00;
    background:  #FFC300;
}
.recipe img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 144px;
    max-height: 96px;
}
.recipe h3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 170px;
    margin:  auto;
    height: 1em;
    color: #A67F00;
    font-size: 16pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.recipe span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    height: 1em;
    color: #A67F00;
    font-size: 16pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#footer {
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 1px solid #FFF;
	margin-bottom: 5px;
	background: #A67F00;
}
#footer h4{
    font-size: 10pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-top: 1px solid #FFDE73;
	border-bottom: 1px solid #FFDE73;
	padding: 5px;
	text-align: center;
	color: #FFC300;
}
.inline {
    position: absolute;
    top: 25px;
    right: 25px;
    margin: 0 20px;
    height: 1em;
    color: #FFC300;
    font-size: 16pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.obrazek {
    float: right;
    min-width: 150px;
    min-height: 100px;
    max-width: 350px;
    max-height: 250px;
    margin: 20px;
}
h3 {
    margin: 10px 0;
    height: 1em;
    color: #A67F00;
    font-size: 14pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
input {
    border:1px solid #A67F00;	
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
select {	
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
table.suroviny {
    margin-bottom: 20px;
    border-spacing: 4px;
}
.suroviny td {
    padding: 5px;
    width: 150px;
    background: #A67F00;
    color: #FFC300;
}
.suroviny td:last-child {
    width: 100px;
    background: #FFC300;
    color: #A67F00;
}
form input[name=nazev] {
    margin-bottom: 5px;
    color: #A67F00;
    font-size: 16pt;
    width: 500px;
}
form select[name=kategorie] {
    display: block;
    margin: 5px 0;
    color: #FFC300;
    font-size: 14pt;
    width: 200px;
}
form select[name=time] {
    position: absolute;
    top: 55px;
    right: 25px;
    margin: 0 20px;
    color: #FFC300;
    font-size: 14pt;
}
form div.obrazek {
    float: right;
    margin: 20px 20px 5px 20px;
}
form .obrazek img {
    min-width: 150px;
    min-height: 100px;
    max-width: 350px;
    max-height: 250px;
}
form .obrazek label {
    color: #A67F00;
    font-size: 11pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
form input[name=imgupload] {
    margin-top: 5px;
    max-width: 348px;
    width: 100%;
    font-size: 11pt;
}
form .suroviny td {
    vertical-align: top;
    width: auto;
    padding: 0px;
    background: none;
}
form input[name=surovina] {
    width: 150px;
    background: #A67F00;
    border: 1px solid #FFC300;
    color: #FFC300;
}
form input[name=mnozstvi] {
    width: 100px;
    background: #FFC300;
    border: 1px solid #A67F00;
    color: #A67F00;
}
form .suroviny td:last-child {
    width: auto;
    background: none;
}
form .suroviny img {
    border: 1px solid #A67F00;
}
form input[name=pridat] {
    margin-bottom: 20px;
    padding: 1px 10px;
}
form .postup {
    float: left;
}
form textarea {
    border:1px solid #A67F00;
    margin-bottom: 10px;
    width: 730px;
    min-height: 50px;
    resize: vertical;
    font-size: 11pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
form input[name=ulozit], form input[name=zrusit] {
    float: left;
    padding: 2px 20px;
    margin: 5px;
}
form input[name=pridat]:active, form input[name=ulozit]:active, form input[name=zrusit]:active, form .suroviny td:last-child img:active {
	position: relative;
	top: 1px;
}
form[name=extsearch] select[name=kategorie] {
    color: #FFC300;
    font-size: 12pt;
    width: 200px;
}
form[name=extsearch] select[name=time] {
    position: absolute;
    top: 70px;
    right: 25px;
    margin: 20px;
    width: 200px;
    font-size: 12pt;
}
form[name=extsearch] .right {
    position: absolute;
    top: 45px;
    right: 25px;
    margin: 20px;
}
form[name=extsearch] input[name=nazev] {
    margin: 0px;
    color: #A67F00;
    font-size: 14pt;
    width: 200px;
}
form[name=extsearch] textarea {
    width: 730px;
    min-height: 50px;
}
form input[name=hledat] {
    padding: 2px 20px;
    margin: 5px;
}
